.game-container {
    position: relative;
    height: 100vh;
    margin: auto;
    /* display: flex; */
    width: 100vw;
    overflow: hidden;
    margin-top: -4px;

}

.game-container>.text {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15%;
}

#blender {
    mix-blend-mode: color-dodge;
    position: absolute;
    top: 43vh;
    left: -10%;
    /* -webkit-filter: drop-shadow(0px 0px 1.5px #ff00ff);
    filter: drop-shadow(0px 0px 1.5px #F0047F26); */
    -webkit-filter: drop-shadow(0px 0px 1.5px #F0047F);
    filter: drop-shadow(0px 0px 1.5px #F0047F);
    max-width: inherit;
    width: 100vw;
}

.students-works-container {
    position: relative;
    display: flex;
    width: 100vw;
    margin-top: -50%;
    height: 68px;
    justify-content: space-between;
    transition: all 3s ease-in;
}

.students-works-container>img {
    position: absolute;
    top: 0;
    left: 18%;
    transition: all 3s ease-in;
    width: 40%;
    transform: rotate(90deg);
}

img.show {
    top: 100vh;
}

#img0 {
    transform: rotate(120deg);
    transition: all 5s ease-in;
    left: 8%;
}

#img1 {
    transform: rotate(30deg);
    transition: all 1.5s ease-in;
    left: 38%;
}

#img2 {
    transform: rotate(180deg);
    transition: all 3s ease-in;
    left: 68%;
}

#img3 {
    transform: rotate(250deg);
    transition: all 10s ease-in;
    left: 11%;
}


@media (min-width: 750px) {
    .students-works-container>img {
     width: 20vw;
    }

    #blender {
        width: 40vw;
    }
}