.game-container {
    position: relative;
    overflow: hidden;
    display: flex;
}

#blender {
    mix-blend-mode: color-dodge;
    object-fit: contain;
    /* -webkit-filter: drop-shadow(0px 0px 1.5px #ff00ff);
    filter: drop-shadow(0px 0px 1.5px #F0047F26); */
    -webkit-filter: drop-shadow(0px 0px 1.5px #F0047F);
    filter: drop-shadow(0px 0px 1.5px #F0047F);
    max-width: inherit;
    width: 100vw;
    object-position: 50% 50%;
}

.student-work {
    position: absolute;
    top: -50%;
    left: 18%;
    transition: all 3s ease-in;
    width: 150px;
    transform: rotate(90deg);
}

img.show {
    top: 100vh;
}

#img0 {
    transition: all 5s ease-in;
    left: 8%;
}

#img1 {
    transition: all 1.5s ease-in;
    left: 38%;
}

#img2 {
    transition: all 3s ease-in;
    left: 68%;
}

#img3 {
    transition: all 10s ease-in;
    left: 11%;
}