.btn {
    font-size: 23px;
    text-align: center;
    max-width: 101px;
    padding: 7px 10px 5px 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 0 black;
    color:black;
}

.btn:hover {
    top: 2px;
    left: 2px;
    box-shadow: none;
}

.btn:active {
    top: 2px;
    left: 2px;
    box-shadow: none;
}


.side-btn {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 50%;
    left: -12px;
    height: 100px;
    background: #F0047F26;
    width: 32px;
    border-radius: 30px;

}

.open-btn {
    width: 202px;
    height: auto;
}

.open-btn>p.infos {
    display: none;
}


.side-btn>p.infos {
    transform: rotate(90deg);
    padding: 23px 22px;
    color: #05ac56;
}

.side-btn>p.text {
    display: none;
}

.open-btn>.text {
    display: block;
    color: #05ac56;
    font-size: 16px;
    padding: 20px 20px;
}