.in-progress-img>img {
    object-fit: contain;
}

.in-progress-img {
    margin: 25px 0px;
    width: 50%;
    height: 88vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.gallery-container {
    margin: 25px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-container h1 {
    font-size: 40px;
}

.gallery-container p {
    font-size: 25px;
}

@media (max-width: 750px) {
    .in-progress-img {
        margin: 10px 0px;
        width: 100%;
        height: inherit;

    }

    .gallery-container {
        margin: 10px 10px;
    }
}

@media (min-width: 750px) {
    .in-progress-img {
        margin: 10px 0px;
        width: 100%;
        height: inherit;

    }

    .gallery-container {
        margin: 10px 10px;
    }
}


.gallery-screenshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}


.screenshot {
    max-width: 25%;
    height: auto;
    flex-wrap: wrap;
    display: flex;
}

.screenshot>img {
    object-fit: contain;
}