header {
    transition: all 0.2s ease-in-out;
    height: 10vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.big-header {
    background: white;
    height: 100vh;
}

.big-header>nav>.btn {
    display: none;
}

.big-header>nav>.logo {
    transition: all 0.8s ease-in-out;
    width: 100vw;
}

.top-nav {
    height: 100%;
    background: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 5px #F0047F;
}

.logo {
    transition: all 0.3s ease-in-out;
    width: 100px;
    height: auto;
}

@media (min-width: 750px) {
    header {
        transition: all 0.2s ease-in-out;
        height: 10vh;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    .top-nav {
        background: none;
        box-shadow: none;
    }
}

.transparent {
    opacity: 0;
}