.map-container {
    position: relative;
    height: auto;
    margin: auto;
    /* display: flex; */
    width: 100vw;
    overflow: hidden;
}

.map-container>img {
    width: 100%;
}

.side-btn {
    transition: all 1.5s ease-in-out;
    position: absolute;
    top: 50%;
    left: -12px;
    height: 100px;
    background: #F0047F26;
    width: 32px;
    border-radius: 30px;

}

.open-btn {
    width: 202px;
    height: auto;
}

.open-btn>p.infos {
    display: none;
}


.side-btn>p.infos {
    transform: rotate(90deg);
    padding: 23px 22px;
    color: #05ac56;
}

.side-btn>.text {
    display: none;
}

.open-btn>.text {
    display: block;
    color: #05ac56;
    font-size: 16px;
    padding: 20px 20px;
}

.map-container>img {
    width: 100%;
}


.bullet {
    color: pink;
    transition: left 1s ease-in-out;
    background: black;
    border-radius: 50px;
    width: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bullet1 {
    position: absolute;
    top: 13%;
    left: 27%;
}

.bullet2 {
    position: absolute;
    top: 13%;
    left: 40%;
}

.bullet3 {
    position: absolute;
    top: 13%;
    left: 50%;
}

.bullet4 {
    position: absolute;
    top: 13%;
    left: 70%;
}

.bullet5 {
    position: absolute;
    top: 9%;
    position: absolute;
    left: 33%;
}


.bullet6 {
    position: absolute;
    top: 31%;
    left: 67%;
}

.bullet7 {
    position: absolute;
    top: 34%;
    left: 76%;
}

.bullet8 {
    position: absolute;
    top: 48%;
    left: 43%;
}

.bullet9 {
    position: absolute;
    top: 45%;
    left: 86%;
}

.bullet10 {
    position: absolute;
    top: 65%;
    left: 75%;
}

.bullet11 {
    position: absolute;
    top: 65%;
    left: 40%;
}

.bullet12 {
    position: absolute;
    top: 80%;
    left: 34%;
}

.bullet13 {
    position: absolute;
    top: 80%;
    left: 50%;
}

.bullet14 {
    position: absolute;
    top: 84%;
    left: 75%;
}

.bullet15 {
    position: absolute;
    top: 84%;
    left: 13%;
}

.bullet16 {
    position: absolute;
    top: 13%;
    left: 50px;
}

.bullet17 {
    position: absolute;
    top: 13%;
    left: 100px;
}

.bullet18 {
    position: absolute;
    top: 13%;
    left: 150px;
}

.bullet19 {
    position: absolute;
    top: 13%;
    left: 200px;
}


.left {
    left: -100%;
}

.right {
    left: 200%;
}