.neon-title-container {
    overflow: hidden;
    position: relative;
    height: 100vh;
    background: white;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: inline-flex;
    filter: brightness(200%);
}

.black {
    background: black;
    color: white;
}

/* .neon-title-container_black {
    background: black;
} */


.logo-neon {
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: auto;
}




.logo-neon-behind {
    mix-blend-mode: difference;
    position: absolute;
    filter: blur(1px);
}

.gradient {
    background: linear-gradient(110.84691779841557deg, rgb(187, 158, 255) 15.326388888888891%, rgb(255, 255, 223) 81.15972222222221%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: color;
}

.dodge {
    background: radial-gradient(circle, white,
            black 52%) center / 14% 24%;

    position: absolute;

    top: -100%;

    left: -50%;

    right: 0;

    bottom: 0;

    mix-blend-mode: color-dodge;

    animation: dodge-area 15s linear infinite;

    height: 52%;

    width: 169%;

    top: 7%;
}

@keyframes dodge-area {
    0% {
        transform: translate(0%, 0%);
    }

    50% {
        transform: translate(50%, 50%);
    }

    100% {
        transform: translate(0%, 0%);
    }

}

@media (min-width: 750px) {
    .dodge {
        background: radial-gradient(circle, white,
                black 52%) center / 34% 34%;

        position: absolute;

        top: -100%;

        left: -50%;

        right: 0;

        bottom: 0;

        mix-blend-mode: color-dodge;

        animation: dodge-area 20s linear infinite;
        transition: all 2s ease-in-out;
        height: 102%;

        width: 169%;

        top: 7%;
    }

    .logo-neon-behind {
        mix-blend-mode: difference;
        position: absolute;
        filter: blur(3px);
    }

    .gradient {
        background: linear-gradient(110.84691779841557deg, rgb(187, 158, 255) 15.326388888888891%, rgb(255, 255, 223) 81.15972222222221%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        mix-blend-mode: multiply;
    }

}