@import 'buttons.css';
@import 'header.css';
@import 'neon-title.css';
@import 'map.css';
@import 'gallery.css';
@import 'blender-game.css';
/* @import 'blender-game2.css'; */
@import 'reset.css';


@font-face {
    font-family: 'Arcturus';
    src: url('../fonts/Arcturus-Book.woff2') format('woff2'),
        url('../fonts/Arcturus-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}





/* color variable: #ff00ff  --> pink-flash


*/
body {
    /* background: rgb(223, 223, 223); */
    font-family: 'Arcturus', Helvetica, sans-serif;
    font-size: 17px;
    margin: 0px;
    padding: 0px;
}

.stop-scrolling {
    height: 90vh;
    overflow: hidden;
}

.text {
    /* padding: 15px; */
    margin-top: 10vh;

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;
}

.text>h1 {
    font-size: 3em;

    text-align: center;

    margin: 13px 0px;
}

.text>p {
    font-size: 1em;
    width: 70%;
    text-align: center;
    line-height: 21px;

}

.text-top {
    margin-top: 10vh;
}

.wifi-text>h1 {
    text-align: center;

    margin: 4px 0px;
  
    font-size: 2em;
}

.wifi-text>h3 {
    text-align: center;

    margin: 4px 0px;
    font-size: 1.1em;
}

.wifi-text {
    margin: 0;
    align-items: self-start;
    position: absolute;
    top: 0;
    margin-top: none;
}

/* .flexbox{

    display: flex;
} */