@import 'header-black.css';
@import 'reset.css';


body {
    /* background: rgb(223, 223, 223); */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    margin: 0px;
    padding: 0px;
}

.wrapper {
    width: 100vw;
}